services:
 react:
  image: manthan0112/frontend
  container_name: "react"
  ports:
   - 3000:3000
  networks:
   - abc1
  depends_on:
    - spring
    - mongo
 spring:
  image: manthan0112/backend2
  container_name: "spring"
  ports:
   - 8081:8081
  networks:
   - abc1
  depends_on: 
   - mongo
 
 mongo: 
  image: mongo:latest
  container_name: "mongo"
  ports:
   - 27017:27017
  networks:
   - abc1
  volumes: 
   - shared-db:/data/db 
   - ./setup:/setup
    
networks:
   abc1:
     driver: bridge
     
volumes:
   shared-db:
    
