.images{
    height: 250px;
    margin-top: 20px;
}

a :hover{
    text-decoration: none;
    color: black;
    transform: scale(1.1);
}

a{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    position: relative;

}
